Html {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(202, 175, 98, 0.5);
    border: 40px ridge rgb(202 ,175, 98);
    opacity: 75%;
    }
    
#blogbody {
    margin: auto;
    width: 60%;
    padding: 10px;

}
#index {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/Flag.jpg");
    opacity: 1;
}

#header {
    font-family: 'IM Fell English SC', serif;
    font-size: 100px;
    color: rgb(202, 175, 98);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

#heading {
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    text-shadow: 5px 5px 10px whitesmoke;
    font-size: 50px;
    
}

.subheading {
    font-family: 'Euphoria Script', cursive;
    text-align: center;
    font-size: 30px;
    text-shadow: 5px 5px 10px whitesmoke;
    background-color: rgb(128, 128, 128, 0.3);
    border: rgb(128, 128, 128);
    margin: auto;
    border-radius: 10px;
    padding:auto;
    width: 550;
}

.Ulist {
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-family: Arial, Helvetica, sans-serif
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.blog-link  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
     
}

.webexample {
    display: flex;
    justify-content: center;
   }

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.buttons {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: violet;
    border-bottom-width: 5px;
    border-top-width: 5px;
    border-left-width: 3px;
    border-right-width: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    }

.fixtopL {
    position: fixed;
    left: 10%;
    top: 10%;
    width: 200;
    }    
